<div class="container">
<div class="span-12">
<img src="<%= book.cover_image_url_large %>">
</div>

<div class="span-12 last">
<dl>
<dt>ASIN/ISBN</dt><dd><%= book.asin %></dd>

<% if (book.ean) { %>
<dt>EAN/ISBN-13</dt><dd><%= book.ean %></dd>
<% } %>

<% if (book.authors) { %>
<dt>Author</dt><dd><%= book.authors %></dd>
<% } %>

<% if (book.dewey_decimal_number) { %>
<dt>Dewey Decimal Number</dt><dd><%= book.dewey_decimal_number %></dd>
<% } %>

<% if (book.pages) { %>
<dt>Pages</dt><dd><%= book.pages %></dd>
<% } %>

<dt>Details</dt><dd><a href="<%= book.url %>">Amazon Page</a></dd>
</dl>
</div>
</div>
