<div class="container">
<script>
  $(document).ready(function() {
  });
</script>

</div>


<div class="container">

  <div class="span-24 last">
   <ul>
    <% for (ix in readings) {
       reading = readings[ix];
     %>
       <li><%= new Date(reading.completion_date).getDate() %>-<%= new Date(reading.completion_date).getMonth()+1 %>-<%= new Date(reading.completion_date).getFullYear() %>: <a href="<%= reading.book.url %>"><%= reading.book.title %></a></li>
    <% } %>
    </ul>
  </div>
</div>
