<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/blueprint/screen.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="/css/blueprint/print.css" type="text/css" media="print" />
    <link rel="stylesheet" href="/css/blueprint/plugins/fancy-type/screen.css" type="text/css" media="screen, projection" /> 
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
  <!--[if lt IE 8]>
      <link rel="stylesheet" href="/css/blueprint/ie.css" type="text/css" media="screen, projection" />
      <![endif]-->
  <link rel="stylesheet" href="/css/jquery.rating/jquery.rating.css" type="text/css" media="screen, projection">
  <link rel="stylesheet" href="/css/jconfirmaction/jconfirmaction.css" type="text/css" media="screen, projection">
  <link rel="stylesheet" href="/css/read52.css" type="text/css" media="screen, projection">
  <!-- JQuery and plugins -->
  <script src="/js/jquery-1.4.3.min.js"></script>
  <script src="/js/jquery.rating.pack.js"></script>
  <script src="/js/jquery.metadata.js"></script>
  <script src="/js/jconfirmaction.jquery.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.7/jquery-ui.min.js"></script>
  <script src="http://cdn.socket.io/stable/socket.io.js"></script>
  </head>
  <body>
    <div class="topmost-cont container">
      <div id="nav" class="prepend-8 span-16 last">
        <ul>
          <% if (nav=="books") { %>
          <li class="current">Books</li> 
          <% } else { %>
          <li><a href="/book" title="Books">Books</a></li> 
          <% } %>

          <% if (nav=="users") { %>
          <li class="current">Users</li> 
          <% } else { %>
          <li><a href="/users" title="Users">Users</a></li> 
          <% } %>

          <% if (user == null) { %>
            <% if (nav=="login") { %>
            <li class="current">Sign In</li> 
            <% } else { %>
            <li><a href="/login" title="Sign In">Sign In</a></li> 
            <% } %>
          <% } else { %>
            <% if (nav=="userhome") { %>
              <li class="current">Your Account</li> 
            <% } else { %>
              <li><a href="/user/<%= user.id %>" title="Your Account">Your Account</a></li> 
            <% } %>
              <li><a href="/logout" title="Logout">Logout</a></li> 
          <% } %>
        </ul> 
        
      </div>
      <div id="header" class="span-6">
        <a href="/" alt="Home">
          <img src="/images/read52_52lines_top_bottom_white.png"/>
        </a>
      </div>
      <div id="maintitle" class="span-18 last">
        <h1>
        <% if (locals.pageuser) { %>
          <img id="titleavatar" src="<%= pageuser.gravatar_icon_url() %>" />
        <% } %>
        <span id="titletext">
          <%=: title| truncate:50 %><% if (title.length>50) {%>&hellip;<%}%>
        </span>
        </h1>
      </div>
    </div>
    <%- body %>
  </body>
</html>
