<script>
  $(document).ready(function() {
      var complDate = new Date(<%=reading.completion_date%>);
      $(".date-pick").datepicker({formatDate: '@', altField: '#completion-date', altFormat: '@', showButtonPanel: true, defaultDate: complDate});
  });
</script>

<div class="span-16">
   <h1><a href="/user/<%= pageuser.id %>"><%= pageuser.name %></a> <strong>read</strong> <span class="alt"><%=reading.book.title %></span></h1>
</div>

<% if(userIsHome) { %>
<script type="text/javascript" language="javascript">
$(document).ready(function() {
  $('#delete-reading').jConfirmAction();
});
</script>
<div id="subnav" class="prepend-2 span-6 last">
<ul>
<li><a href="#" onclick="$('#edit-book').toggle('fast')">Edit</a></li>
<li><a id="delete-reading" href="#">Delete</a></li>
</ul>
</div>
<% } %>

</div>

<% if(userIsHome) { %>
<div id="edit-book" class="hidden container">
<script type="text/javascript" language="javascript">
      $(function(){ 
          $('#edit-book :radio.star').rating('select', '<%= reading.rating %>');
        });
</script>
    <form id="add-book-form" action="/user/<%= user.id %>/read/<%= reading.book_id %>" method="post">
      <div class="span-12">
        <label>Rating</label><br />
                            <input class="star {split:2}" type="radio" name="rating" value="10"/>
                            <input class="star {split:2}" type="radio" name="rating" value="20"/>
                            <input class="star {split:2}" type="radio" name="rating" value="30"/>
                            <input class="star {split:2}" type="radio" name="rating" value="40"/>
                            <input class="star {split:2}" type="radio" name="rating" value="50"/>
                            <input class="star {split:2}" type="radio" name="rating" value="60"/>
                            <input class="star {split:2}" type="radio" name="rating" value="70"/>
                            <input class="star {split:2}" type="radio" name="rating" value="80"/>
                            <input class="star {split:2}" type="radio" name="rating" value="90"/>
                            <input class="star {split:2}" type="radio" name="rating" value="100"/>
                              <br />
       <label for="comment">Comment</label><br />
       <textarea id="comment" type="text" name="comment" rows="4"><%=reading.comment%></textarea>
      </div>
      <div class="span-12 last">
        <label for="completion-date">Date Finished</label><br />
        <div class="date-pick"></div>
        <input type="hidden" name="completion-date" id="completion-date"/>
      </div>
      <div class="prepend-10 span-2 append-10 last">
        <button class="ui-state-default ui-corner-all" type="submit" value="Submit">Submit</button><br />
      </div>
    </form>
</div>
<% } %>

<div class="container">
<div class="span-12">
<img src="<%= reading.book.cover_image_url_large %>">
</div>

<div class="span-12 last">
<dl>
<dt>ASIN/ISBN</dt><dd><%= reading.book.asin %></dd>

<% if (reading.completion_date) { %>
<dt>Completed On</dt><dd><%= new Date(reading.completion_date) %>
<% } %>

<% if (reading.rating) { %>
<dt>Rating</dt><dd><%= reading.rating %>%
<% } %>

<% if (reading.ean) { %>
<dt>EAN/ISBN-13</dt><dd><%= reading.ean %></dd>
<% } %>

<% if (reading.book.authors) { %>
<dt>Author</dt><dd><%= reading.book.authors %></dd>
<% } %>

<% if (reading.book.dewey_decimal_number) { %>
<dt>Dewey Decimal Number</dt><dd><%= reading.book.dewey_decimal_number %></dd>
<% } %>

<% if (reading.book.pages) { %>
<dt>Pages</dt><dd><%= reading.book.pages %></dd>
<% } %>

<dt>Details</dt><dd><a href="<%= reading.book.url %>">Amazon Page</a></dd>
</dl>

<% if (reading.comment) { %>
<hr />
<h3 class="alt">Comment</h3>
<div id="reading_comment" class="comment">
<%= reading.comment %>
</div>
<% } %>
</div>
</div>
