<script>
  $(document).ready(function() {
  $(".date-pick").datepicker({formatDate: '@', altField: '#completion-date', altFormat: '@', showButtonPanel: true});
  });
</script>

<div class="span-16">
   <h1><a href="/user/<%= pageuser.id %>"><%= pageuser.name %></a> <strong>read</strong> <span class="alt"><%=reading.book.title %></span></h1>
</div>

<% if(userIsHome) { %>
<div class="prepend-2 span-6 last">
  <h2><a href="#" onclick="$('#add-book').fadeIn()">Edit (not working yet!)</a></h2>
</div>
<% } %>

</div>

<div class="container">
<div class="span-12">
<img src="<%= reading.book.cover_image_url_large %>">
</div>

<div class="span-12 last">
<dl>
<dt>ASIN/ISBN</dt><dd><%= reading.book.asin %></dd>

<% if (reading.completion_date) { %>
<dt>Completed On</dt><dd><%= new Date(reading.completion_date) %>
<% } %>

<% if (reading.ean) { %>
<dt>EAN/ISBN-13</dt><dd><%= reading.ean %></dd>
<% } %>

<% if (reading.book.authors) { %>
<dt>Author</dt><dd><%= reading.book.authors %></dd>
<% } %>

<% if (reading.book.dewey_decimal_number) { %>
<dt>Dewey Decimal Number</dt><dd><%= reading.book.dewey_decimal_number %></dd>
<% } %>

<% if (reading.book.pages) { %>
<dt>Pages</dt><dd><%= reading.book.pages %></dd>
<% } %>

<dt>Details</dt><dd><a href="<%= reading.book.url %>">Amazon Page</a></dd>
</dl>
</div>
</div>
