<script>
  $(document).ready(function() {
  $(".date-pick").datepicker({formatDate: '@', altField: '#completion-date', altFormat: '@', showButtonPanel: true});
  });
</script>

<div class="span-12">
   <h1><%= pageuser.name %></h1>
</div>

<% if(userIsHome) { %>
<div class="prepend-4 span-8 last">
  <h2><a href="#" onclick="$('#add-book').fadeIn()">Add Book</a></h2>
</div>
<% } %>

</div>

<% if (userIsHome) { %>
<div id="add-book" class="hidden container">
    <form id="add-book-form" action="/user/<%= user.id %>/read" method="post">
      <div class="span-12">
        <label for="isbn">ISBN</label><br />
        <input id="isbn" type="text" class="title" name="isbn" /> <br />
      </div>
      <div class="span-12 last">
        <label for="completion-date">Date Finished</label><br />
        <div class="date-pick"></div>
        <input type="hidden" name="completion-date" id="completion-date"/>
      </div>
      <div class="prepend-10 span-2 append-10 last">
        <button class="ui-state-default ui-corner-all" type="submit" value="Submit">Submit</button><br />
      </div>
    </form>
</div>
<% } %>

<div class="container">
  <div class="span-24 last">
    <h2>I have read <strong><%= bookcount %></strong> books in the past year! (<%= pagecount %> pages)</h2>
  </div>

  <div class="span-24 last">
    <% for (ix in readings) {
       reading = readings[ix];
     %>
    <a href="/book/<%=reading.isbn%>">
      <img src="<%= reading.book.amz_img_medium%>" title="<%= reading.book.title %>" alt="<%= reading.book.title%>" />
    </a>
    <% } %>
  </div>
</div>
