<script>
  $(document).ready(function() {
  $(".date-pick").datepicker({formatDate: '@', altField: '#completion-date', altFormat: '@', showButtonPanel: true});
  });
</script>

<div class="span-12">
   <h1><%= pageuser.name %></h1>
</div>

<% if(userIsHome) { %>
<div class="prepend-4 span-8 last">
  <h2><a href="#" onclick="$('#add-book').fadeIn()">Add Book</a></h2>
</div>
<% } %>

</div>

<% if (userIsHome) { %>
<div id="add-book" class="hidden container">
<script type="text/javascript" language="javascript">
      $(function(){ 
          $('#add-book-form :radio.star').rating({cancel: 'Cancel', cancelValue: '0'}); 
        });
</script>

    <form id="add-book-form" action="/user/<%= user.id %>/read" method="post">
      <div class="span-12">
    <label for="searchterm">Book Identifier (ISBN, EAN, or ASIN)</label><br />
        <input id="searchterm" type="text" class="title" name="searchterm" /> <br />
        Rating:<br />
                            <input class="star {split:4}" type="radio" name="rating" value="5"/>
                            <input class="star {split:4}" type="radio" name="rating" value="10"/>
                            <input class="star {split:4}" type="radio" name="rating" value="15"/>
                            <input class="star {split:4}" type="radio" name="rating" value="20"/>
                            <input class="star {split:4}" type="radio" name="rating" value="25"/>
                            <input class="star {split:4}" type="radio" name="rating" value="30"/>
                            <input class="star {split:4}" type="radio" name="rating" value="35"/>
                            <input class="star {split:4}" type="radio" name="rating" value="40"/>
                            <input class="star {split:4}" type="radio" name="rating" value="45"/>
                            <input class="star {split:4}" type="radio" name="rating" value="50"/>
                            <input class="star {split:4}" type="radio" name="rating" value="55"/>
                            <input class="star {split:4}" type="radio" name="rating" value="60"/>
                            <input class="star {split:4}" type="radio" name="rating" value="65"/>
                            <input class="star {split:4}" type="radio" name="rating" value="70"/>
                            <input class="star {split:4}" type="radio" name="rating" value="75"/>
                            <input class="star {split:4}" type="radio" name="rating" value="80"/>
                            <input class="star {split:4}" type="radio" name="rating" value="85"/>
                            <input class="star {split:4}" type="radio" name="rating" value="90"/>
                            <input class="star {split:4}" type="radio" name="rating" value="95"/>
                            <input class="star {split:4}" type="radio" name="rating" value="100"/>

      </div>
      <div class="span-12 last">
        <label for="completion-date">Date Finished</label><br />
        <div class="date-pick"></div>
        <input type="hidden" name="completion-date" id="completion-date"/>
      </div>
      <div class="prepend-10 span-2 append-10 last">
        <button class="ui-state-default ui-corner-all" type="submit" value="Submit">Submit</button><br />
      </div>
    </form>
</div>
<% } %>

<div class="container">
  <div class="span-24 last">
    <h2>I have read <strong><%= bookcount %></strong> books in the past year! (<%= pagecount %> pages)</h2>
  </div>

  <div class="span-24 last">
    <% for (ix in readings) {
       reading = readings[ix];
     %>
    <a href="/user/<%= pageuser.id %>/read/<%=reading.isbn%>">
      <img src="<%= reading.book.amz_img_medium%>" title="<%= reading.book.title %>" alt="<%= reading.book.title%>" />
    </a>
    <% } %>
  </div>
</div>
